:host {
    display: block;
    box-sizing: border-box;
    height: 48px;
    min-height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ddd;
    /*padding: 4px;*/
    cursor: default;
    background-color: white;
    overflow: hidden;
    user-select: none;
}

paper-ripple {
    color: #4285f4;
}

.head {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.head > core-icon {
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
}

:host .core-selected {
    /*font-weight: bold;*/
}